<h1>Angular Class</h1>
<ul>
  <li>
    <b>Name:</b> {{my_name}}</li>
  <li>
    <b>Age:</b> {{age}}</li>
  <li>
    <b>Email:</b> {{email}}</li>
  <li>
    <b>Address:</b> {{address.street}}, {{address.city}}, {{address.province}}, {{address.postcode}}</li>
</ul>

<h2>Edit Profile</h2>

<button (click)=toggleEdit()>Edit</button>

<div *ngIf="isEditable == true">
  <form>
    <div>
      <label for="name">
       <b>Name:</b>
     </label>
      <input type="text" [(ngModel)]="my_name" name="name">
    </div>
    <div>
      <label for="age">
       <b>Age:</b>
     </label>
      <input type="text" [(ngModel)]="age" name="age">
    </div>
    <div>
      <label for="email">
       <b>Email:</b>
     </label>
      <input type="text" [(ngModel)]="email" name="email">
    </div>

  </form>
</div>


<form (submit)="addSkill(skill.value)">
  <div>
    <label for="skill">Skill: </label>
    <input type="text" #skill placeholder="Add your skill">
  </div>
</form>


<h2>Skills</h2>
<ul>
  <li style="list-style-type: none" *ngFor="let skill of skills; let i = index">
    {{i+1}}.{{skill}} <button (click)="removeSkill(skill)">X</button>
  </li>
</ul>
<h2>Photo List</h2>
<ul>
  <li style="list-style-type: none" *ngFor="let photo of photoList;"><img src="{{photo.thumbnailUrl}}"> <br> {{photo.title}}</li>
</ul>