<div id="bg">
  <h2>15 Most Popular Movie 2018</h2>
</div>
<div class="content">
    <div class="ManagePicture"><h3>{{name[0]}}</h3><img src="{{picture[0]}}" alt="Error"></div>
    <div class="ManagePicture"><h3>{{name[1]}}</h3><img src="{{picture[1]}}" alt="Error"></div>
    <div class="ManagePicture"><h3>{{name[2]}}</h3><img src="{{picture[2]}}" alt="Error"></div>
      <div class="clear"></div>
    <div class="ManagePicture"><h3>{{name[3]}}</h3><img src="{{picture[3]}}" alt="Error"></div>
    <div class="ManagePicture"><h3>{{name[4]}}</h3><img src="{{picture[4]}}" alt="Error"></div>
    <div class="ManagePicture"><h3>{{name[5]}}</h3><img src="{{picture[5]}}" alt="Error"></div>
     <div class="clear"></div>
    <div class="ManagePicture"><h3>{{name[6]}}</h3><img src="{{picture[6]}}" alt="Error"></div>
    <div class="ManagePicture"><h3>{{name[7]}}</h3><img src="{{picture[7]}}" alt="Error"></div>
    <div class="ManagePicture"><h3>{{name[8]}}</h3><img src="{{picture[8]}}" alt="Error"></div>
     <div class="clear"></div>
    <div class="ManagePicture"><h3>{{name[9]}}</h3><img src="{{picture[9]}}" alt="Error"></div>
    <div class="ManagePicture"><h3>{{name[10]}}</h3><img src="{{picture[10]}}" alt="Error"></div>
    <div class="ManagePicture"><h3>{{name[11]}}</h3><img src="{{picture[11]}}" alt="Error"></div>
      <div class="clear"></div>
    <div class="ManagePicture"><h3>{{name[12]}}</h3><img src="{{picture[12]}}" alt="Error"></div>
    <div class="ManagePicture"><h3>{{name[13]}}</h3><img src="{{picture[13]}}" alt="Error"></div>
    <div class="ManagePicture"><h3>{{name[14]}}</h3><img src="{{picture[14]}}" alt="Error"></div>
      <div class="clear"></div>
  </div>
  
